# General
.idea/
.vscode/
*.iml
*.iws
*.ipr
out/
build/
target/
bin/
.gradle/
.kotlin/
.baseDir
.DS_Store
Thumbs.db
HELP.md
*.bak
*.swp
*~
.apt_generated
.classpath
.factorypath
.project
.settings

# Maven (Backend)
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle (App)
**/build/
.gradle/
**/gradle-app.setting
!**/src/main/**/build/
!**/src/test/**/build/

# Android (App)
**/local.properties
**/captures
**/output.json
*.keystore
!debug.keystore
**/google-services.json
**/*.apk
**/*.aar
**/*.ap_
**/bundle/
**/release/
**/.cxx/
**/.externalNativeBuild/

# Environment / Security
.env
.env.*
!.env.example
**/*.log
*.sqlite

# Database
**/postgres_data/
**/docker-compose.override.yml
